{% extends "base.html" %}

{% load staticfiles %}
{% block main %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p class="sub-header-text">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for tech in tech_list%}
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-diamond text-primary sr-icons"></i> -->
                        <img class="img-circle" src="{{tech.symbol.url}}">
                        <h3>{{tech.name}}</h3>
                        <p class="text-muted">{{tech.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

    <section class=" bg-primary" id="portfolio"><!-- no-padding -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects Delivered</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for project in projects|slice:":10" %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{% url 'project_details' pid=project.id %}" class="portfolio-box">
                        <div class="img-wrapper">
                            <img src="{{ project.images.all.0.images.url }}" class="portfolio-box" alt="">
                        </div>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    {{project.name}}
                                </div>
                                <div class="project-category text-faded">
                                    {{project.description | truncatechars:100 | safe}}<br>
                                    <!-- <a href="" class="btn btn-default btn-xl sr-button">Read more</a> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row text-center" style="padding-top: 20px">
                <a href="{% url 'portfolio' %}" class="page-scroll btn btn-default btn-xl sr-button">Show more!</a>
            </div>
        </div>
    </section>
    
    <section>
        <div class = "container">
            <div class="row">
                <div class="col-md-8 home-page-blog-section">
                    <h2>What’s Happening?</h2>
                    <ul class="blog-post">
                        {% for entry in blog_entries %}
                        <li>
                            <div class="content">
                                <h3><a href="{{entry.short_url}}">{{entry.title}}</a></h3>
                                <div class="published-date">{{entry.publication_date}}</div>
                                {{entry.lead}}
                                <div class="extra-info">
                                    <span class="read-more"><a href="{{entry.short_url}}">View more</a></span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <!-- <li>
                            <div class="content">
                                <h3><a href="http://mobile.neosofttech.in/article/how-to-distribute-your-ios-app-with-enterprise-account/">How to Distribute your iOS App with Enterprise Account</a></h3>
                                <p>Hello All Techie’s, Distributing iOS App with Enterprise
                                     Account helps developer to avoid asking UDID from client. Before 
                                    starting Developer need Enterprise Account and need to install the 
                                    corresponding Certificates and Provisional Profile installed 
                                    on&nbsp;KeyChain and iPhone Utility&nbsp;respectively. Following are the
                                     steps to Distribute iOS App with Enterprise Account. 1. For 
                                    (Appcelerator Studio) create IPA […]</p>
                                
                                <div class="extra-info">
                                    <span class="time">23 June 2016 | 07:22 AM</span>
                                    <span class="read-more"><a href="http://mobile.neosofttech.in/article/how-to-distribute-your-ios-app-with-enterprise-account/">View more</a></span>
                                </div>
                            </div>
                        </li>
                         -->    
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="row block">
                         <div  id="chartContainer">
                         <!-- <canvas id="can" width="200" height="200" /> -->
                         <div id="piechart1" ></div>
                        </div> 
                    </div>
                    <div class="row block">
                        <div id="myCanvasContainer">
                          <canvas id="myCanvas">
                          </canvas>
                        </div>
                            <div id="tags">
                              <ul>
                                {% for category_name in category_name_list %}
                                    <li><a href="">{{category_name}}</a></li>
                                {% endfor %}
                              </ul>
                            </div>
                    </div>
                </div> 
            </div>
        </div>
        
    </section>


{% endblock %}

{% block extra_js %}
    <script src="{% static 'portfolio/js/tagcanvas.min.js' %}"></script> 
    <script src="{% static 'portfolio/js/canvas_chart.js' %}"></script>
    <script src="{% static 'portfolio/js/canvasjs.min.js' %}"></script>
    
    <script language="javascript">
        /*chartload({{category_list|safe}});*/
        wordcloudload();
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Technology', 'Used in Projects'],
          {% for key, value in tech_dict.items %}
            ['{{key}}', {{value}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Technologies used in projects'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

        chart.draw(data, options);
      }

    </script>    
{% endblock %}